In [126]:
import numpy as np
import pandas as pd
import sklearn.decomposition as decomp
import sklearn.cluster as cluster

In [127]:
df = pd.read_csv("../cli/F12_summary.csv")
df.head()

,run_no,best_fitness,genotype_hash,genotype,timestamp
0,1,3143.8290,6e4b59b0da8e61070dda0cb09554bf1cff27239241ad50...,[-90.002365 78.61744 7.7544136 -91.63109...,0
1,1,3049.4620,6aea8071b3eb12a733c4539dbc64e69eceb8a8573ed6b8...,[-89.30453 88.70686 4.941722 -92.21723...,5
2,1,3028.3032,d56c367f12dce696b8a460fa2d06410736a07274a9a756...,[-90.002365 88.70686 4.941722 -92.21723...,10
3,1,3016.3464,c9e71e935aff895a811592d2cda349e824122ef825ae32...,[-90.002365 87.82729 4.941722 -92.21723...,15
4,1,3002.7021,141eb421fdbe52317b44c9b42c39fc87e4d08bcb770600...,[-90.002365 87.82729 4.941722 -92.21723...,20

In [128]:
def string_to_array(s):
    slist = s[1:-1].split(' ')
    filtered_list = []
    for item in slist:
        stripped_item = item.strip()
        if stripped_item:
            filtered_list.append(float(stripped_item))
    return np.array(filtered_list)

In [129]:
genotype_strings = df.genotype
genotype = np.array([ string_to_array(s) for s in genotype_strings ])
genotype.shape

(1036, 20)

In [144]:
N_PARTITIONS=2
KERNEL_DIMENSIONS=3

In [145]:
g_normalized = (genotype - -100) / (100 - -100)
g_rounded = np.floor(g_normalized*N_PARTITIONS)
g_rounded.shape

(1036, 20)

In [146]:
g_strings = [ '*'.join(x.astype(int).astype(str)) for x in g_rounded ]
df.genotype_hash = g_strings
df[:5]

   run_no  best_fitness                            genotype_hash  timestamp
0       1     3143.8290  0*1*1*0*1*1*1*1*1*1*1*0*1*0*0*1*1*0*0*0          0
1       1     3049.4620  0*1*1*0*1*1*1*1*1*1*1*0*1*0*0*1*1*0*1*0          5
2       1     3028.3032  0*1*1*0*1*1*1*1*1*1*1*0*1*0*0*1*1*0*1*0         10
3       1     3016.3464  0*1*1*0*1*1*1*1*1*1*1*0*1*0*0*1*1*0*1*0         15
4       1     3002.7021  0*1*1*0*1*1*1*1*1*1*1*0*1*0*0*1*1*0*1*0         20

In [147]:
df = df.drop(columns=['genotype'], errors='ignore')
df.to_csv("F12_pca.csv", index=False)

In [111]:
ap = cluster.MeanShift()
g_transformed = ap.fit_predict(genotype)
g_transformed.shape

(536,)

In [109]:
df.genotype_hash = g_transformed
df[:5]

   run_no  best_fitness  genotype_hash  timestamp
0       1     3143.8290              8          0
1       1     3049.4620              8          5
2       1     3028.3032              8         10
3       1     3016.3464              8         15
4       1     3002.7021              8         20

In [105]:
max = np.max(g_transformed, axis=0)
min = np.min(g_transformed, axis=0)
g_normalized = (g_transformed - min) / (max-min)
g_normalized.shape

(536,)

In [106]:
np.min(g_normalized, axis=0), np.max(g_normalized, axis=0)

(np.float64(0.0), np.float64(1.0))

In [107]:
g_rounded = np.floor(g_normalized*N_PARTITIONS)
g_rounded.shape

(536,)

In [89]:
df.genotype_hash = strings

In [90]:
df[:5]

,run_no,best_fitness,genotype_hash,genotype,timestamp
0,1,3143.8290,292,[-90.002365 78.61744 7.7544136 -91.63109...,0
1,1,3049.4620,392,[-89.30453 88.70686 4.941722 -92.21723...,5
2,1,3028.3032,392,[-90.002365 88.70686 4.941722 -92.21723...,10
3,1,3016.3464,392,[-90.002365 87.82729 4.941722 -92.21723...,15
4,1,3002.7021,392,[-90.002365 87.82729 4.941722 -92.21723...,20

In [110]:
df.drop(columns=["genotype"], inplace=True, errors='ignore')
df.to_csv("F12_pca.csv", index=False)